In [1]:
print("Hello, World!") #By Ayaulym

Hello, World!

In [2]:
import sys
print(sys.version) #By Ayaulym

3.12.2 (v3.12.2:6abddd9f6a, Feb  6 2024, 17:02:06) [Clang 13.0.0 (clang-1300.0.29.30)]

In [24]:
if 5>2:
    print("five is greater than two!") #Compare by Ayaulym

five is greater than two!

In [92]:
#Syntax Error
#if 5 > 2:
#print ("Five is greater than two!")

In [25]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [93]:
#Syntax Error
"""if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")"""

'if 5 > 2:\n print("Five is greater than two!")\n        print("Five is greater than two!")'

In [28]:
x = 5 
y = "Hello, World!"

In [ ]:
#This is a comment.
print("Hello, World!")

In [ ]:
print("Hello, World!") #This is a comment

In [ ]:
#print("Hello, World!")
print("Cheers, Mate!")

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

In [5]:
x=7
y="Hello World!" #Variables By Ayaulym
"""Here are multiple comments
Hello my name is Ayaulym and this is my code"""

'Here are multiple comments\nHello my name is Ayaulym and this is my code'

In [6]:
x=8
y="Ayaulym"
print(x)
print(y)
print(type(x))
print(type(y))

8
Ayaulym
<class 'int'>
<class 'str'>

In [7]:
x=9
x="Aya"
print(x)

Aya

In [8]:
x=str(3) #will be '3'
y=int(3) #will be 3
z=float(3) #will be 3.0

In [29]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [30]:
x = "John"
# is the same as
x = 'John'

In [ ]:
a = 4
A = "Sally"
#A will not overwrite

In [31]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [96]:
#Illegal variable names
"""2myvar = "John"
my-var = "John"
my var = "John"""

'2myvar = "John"\nmy-var = "John"\nmy var = "John'

In [9]:
x,y,z="Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [34]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [10]:
fruits=["apple", "banana", "cherry"]
x,y,z=fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [35]:
x = "Python is awesome"
print(x)

Python is awesome

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

In [12]:
x="Aya "
y="is "
z="awesome"
print(x+y+z)

Aya is awesome

In [36]:
x = 5
y = 10
print(x + y)

15

In [98]:
#Error
"""x = 5
y = "John"
print(x + y)"""

'x = 5\ny = "John"\nprint(x + y)'

In [38]:
x = 5
y = "John"
print(x, y)

5 John

In [39]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [14]:
x="awesome"

def myfunc():
    x="fantastic"
    print("Python is "+x)
myfunc()

print("Python is "+x)

Python is fantastic
Python is awesome

In [40]:
def myfunc():
    global x #Global variable by Ayaulym
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [16]:
x = "awesome"

def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [41]:
x = 5
print(type(x))

<class 'int'>

In [42]:
x = 1    #int
y = 2.8  #float
z = 1j   #complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [43]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [44]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [45]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [46]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [47]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [18]:
import random

print(random.randrange(1, 10))

8

In [19]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [48]:
print("Hello")
print('Hello')

Hello
Hello

In [49]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [50]:
a = "Hello"
print(a)

Hello

In [51]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [52]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [20]:
a = "Hello, World!"
print(a[1])

e

In [21]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [22]:
a = "Hello, World!"
print(len(a))

13

In [23]:
txt = "Ayaulym is super"
print("super" in txt)

True

In [53]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [54]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [55]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [56]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [57]:
b = "Hello, World!"
print(b[2:5])

llo

In [58]:
b = "Hello, World!"
print(b[:5])

Hello

In [59]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [60]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [61]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [62]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [63]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [64]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [65]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [66]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [67]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [99]:
#Error
"""age = 36
txt = "My name is John, I am " + age
print(txt)"""

'age = 36\ntxt = "My name is John, I am " + age\nprint(txt)'

In [69]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [70]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [71]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [72]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [100]:
#Error
"""txt = "We are the so-called "Vikings" from the north." """

'txt = "We are the so-called "Vikings" from the north." '

In [74]:
txt = "We are the so-called \"Vikings\" from the north."

In [75]:
txt = f"The price is 49 dollars"
print(txt)

The price is 49 dollars

In [76]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [77]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [78]:
txt = f"The price is {95:.2f} dollars"
print(txt)

The price is 95.00 dollars

In [79]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [80]:
price = 59
tax = 0.25
txt = f"The price is {price + (price * tax)} dollars"
print(txt)

The price is 73.75 dollars

In [81]:
price = 49
txt = f"It is very {'Expensive' if price>50 else 'Cheap'}"

print(txt)

It is very Cheap

In [82]:
fruit = "apples"
txt = f"I love {fruit.upper()}"
print(txt)

I love APPLES

In [83]:
def myconverter(x):
  return x * 0.3048

txt = f"The plane is flying at a {myconverter(30000)} meter altitude"
print(txt)

The plane is flying at a 9144.0 meter altitude

In [84]:
price = 59000
txt = f"The price is {price:,} dollars"
print(txt)

The price is 59,000 dollars

In [85]:
price = 49
txt = "The price is {} dollars"
print(txt.format(price))

The price is 49 dollars

In [86]:
txt = "The price is {:.2f} dollars"

In [101]:
"""print(txt.format(price, itemno, count))"""

'print(txt.format(price, itemno, count))'

In [88]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [89]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {0} pieces of item number {1} for {2:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [90]:
age = 36
name = "John"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

His name is John. John is 36 years old.

In [91]:
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))

I have a Ford, it is a Mustang.